.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        width: 180px;
        height: 280px;
        align-self: center;
        background-color: var(--project-card-bg);
        border-radius: 20px;
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }

    button {
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 20px;
        width: 126px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }
}

h5 {
    color: orange;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

h6 {
    color: rgb(0, 128, 77);
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center; /* Ensure items are centered */
}

/* Media Query for screens 800px or larger (tablet and above) */
@media (min-width: 800px) {
    .projectsContainer {
        justify-content: space-evenly; /* Distribute items evenly on larger screens */
        padding: 0 30px;
    }
}

/* Media Query for smaller screens (mobile and tablet) */
@media (max-width: 799px) {
    .projectsContainer {
        justify-content: center;  /* Center the items */
        gap: 10px; /* Adjust gap for mobile */
    }

    .container img {
        width: 150px; /* Adjust image size for smaller screens */
        height: 250px;  /* Maintain aspect ratio */
    }
}


