* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;

}

.title {
    margin-bottom: 2rem;
    text-align: center;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* @media(max-width: 768px) {
    .photo-gallery{

        flex-direction: column

    }
    
} */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Darker background for better focus on the image */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .modal-content img {
    max-width: 90vw; /* Image adjusts to fit within 90% of the viewport width */
    max-height: 90vh; /* Image adjusts to fit within 90% of the viewport height */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  }
  
  .modal:hover {
    cursor: pointer;
  }
  
  .photo img {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .photo img:hover {
    transform: scale(1.03); /* Slight zoom effect on hover */
  }
  